.form{
   display: flex;
   flex-direction: column;
   &__header{
      margin-bottom: 2rem;
    
      padding-left: 2rem;
   }
   &__inputs{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2rem;
   }
   &__input input{
       padding: .5rem .5rem;
       display: flex;
       margin-bottom: 1rem;
    }
    &__section1{
      display: flex;
      padding: 5rem 0;
      justify-content: space-evenly;
   }
   &__section2{
      display: flex;
      padding: 5rem 0;
      justify-content: space-evenly; 
   }
   &__studentDetails{
      display: flex;
      flex-direction: column;
      flex-basis: 45%;
   }
   &__studentDetails input{
      padding: .6rem;
   }
   &__studentDetails label{
      margin-bottom: .5rem;
   }
   &__selectStudentDetails{
      padding: .6rem;
   }
   &__selectStudentDetails{
      padding: .6rem;
   }
   &__submit{
      width: 10rem;
      padding: .5rem;
      margin-left: 2rem;
      box-shadow: 0rem 0rem .5rem rgb(98, 96, 96);
      &:hover{
         background-color: blue;
         color: white;
      }
   }
}

